<% layout("/layouts/boilerPlate") %>

<style>
    .bg-image {
        background-size: cover;
        background-position: center;
        height: 300px;
    }
    .card {
        margin-top: -100px;
        backdrop-filter: blur(30px);
    }
    .form-container {
        max-width: 500px;
        margin: auto;
    }
    @media (max-width: 768px) {
        .card {
            margin-top: -50px;
            padding: 20px;
        }
    }
</style>

<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
          background-image: url('https://cdn.pixabay.com/photo/2016/06/17/04/26/mountain-1462655_1280.jpg'); "></div>
    <!-- Background image -->
  
    <div class="card mx-3 mx-md-5 shadow-lg bg-body-tertiary">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 form-container">
            <h2 class="fw-bold mb-4">Sign up on PixaBlog's</h2>
            <form action="/signup" method="post">
              <!-- Username input -->
              <div class="form-outline mb-4">
                <input type="text" id="username" name="username" class="form-control" required/>
                <label class="form-label" for="username">User name</label>
              </div>
  
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="email" name="email" class="form-control" required />
                <label class="form-label" for="email">Email address</label>
              </div>
  
              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="password" name="password" class="form-control" required/>
                <label class="form-label" for="password">Password</label>
              </div>
  
              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-center mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" id="subscribe" checked />
                <label class="form-check-label" for="subscribe">
                  Subscribe to our PixaBlog's
                </label>
              </div>
  
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Sign up
              </button>
  
            </form>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- Section: Design Block -->
